name: Merge develop into master

env:
  GIT_COMMITTER_EMAIL: bot@srnjak.com
  GIT_COMMITTER_NAME: Srnjak bot

on:
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git identity
        run: |
          git config --global user.email "${{ env.GIT_COMMITTER_EMAIL }}"
          git config --global user.name "${{ env.GIT_COMMITTER_NAME }}"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Merge develop into master
        run: |
          git merge --no-ff --no-edit origin/develop
          git push origin master
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}